<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilesDirectory" value="E:\OneDrive\OneDrive - Quest\Documents\- Content Creation\PoSH Connector Generator\Test" />
    <add key="MultiThreader" value="OIM.PS.SyncProject.Generator.dll" />
  </appSettings>
</configuration>